.main_one {
  display: flex;
  flex-direction: column;
}
.main_one_text {
  margin: 0px 318px 64px 318px;
}

.main_one_text > h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #111827;
}
.main_one_text > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #111827;
}
.main_one_card {
  display: flex;
  flex-direction: column;
  margin: 0px 128px 96px 128px;
  gap: 62px;
}
.main_one_card_row_one {
  display: flex;
  flex-direction: row;
  gap: 62px;
}
.main_one_card_row_two {
  display: flex;
  flex-direction: row;
  gap: 62px;
}

.main_one_card_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 384px;
  height: 152px;
  text-align: center;
}
.main_one_card_item > h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #111827;
  margin-bottom: 4px;
}
.main_one_card_item > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #374151;
  margin-top: 4px;
}
