<section class="easy_integration">
  <div class="easy_integration_item_one">
    <div class="easy_integration_text">
      <h1>Easy integrations with 170+ tools</h1>
      <p>
        Connect Landify with your favourite tools that you use daily and keep
        things on track.
      </p>
    </div>
  </div>
  <div class="easy_integration_item_two">
    <div class="easy_integration_item_img_one">
      <img src="./img/Logo_(0).png" alt="Logo" />
      <img src="./img/Logo_(1).png" alt="Logo" />
      <img src="./img/Logo_(2).png" alt="Logo" />
      <img src="./img/Logo_(3).png" alt="Logo" />
    </div>
    <div class="easy_integration_item_img_two">
      <img src="./img/Logo_(4).png" alt="Logo" />
      <img src="./img/Logo_(5).png" alt="Logo" />
      <img src="./img/Logo_(6).png" alt="Logo" />
    </div>
  </div>
</section>
