<section class="footer">
  <div class="footer_item_one">
    <div class="landify">
      <img src="./img/logo_black.png" alt="Logo" srcset="" />
    </div>
    <h3><span>Download Now</span> <span>License</span></h3>
    <h3>
      <span>About</span><span>Features</span> <span>Pricing</span
      ><span>News</span> <span>Help</span><span>Contact</span>
    </h3>
    <p>© 2021 Landify UI Kit. All rights reserved</p>
  </div>
  <div class="footer_item_two">
    <h2>Get the App</h2>
    <div class="other_header">
      <div class="ohter_store">
        <img src="./img/apple_store.png" alt="apple_store" srcset="" />
        <div class="ohter_store_text">
          <p>Download on the</p>
          <h4>App Store</h4>
        </div>
      </div>
      <div class="ohter_store">
        <img src="./img/Google_Play_logo.png" alt="google_play" srcset="" ; />
        <div class="ohter_store_text">
          <p>GET IN ON</p>
          <h4>Google Play</h4>
        </div>
      </div>
    </div>
  </div>
</section>
