<div class="header">
  <div class="landify">
    <img src="./img/Logo.jpg" alt="Logo" srcset="" />
    <span
      >Landify<sup><img src="./img/tm.svg" alt="tm" srcset="" /></sup
    ></span>
    <div class="navigation">
      <a href="#">Features</a>
      <a href="#">Pricing</a>
      <a href="#">Careers</a>
      <a href="#">Help</a>
    </div>
  </div>
  <div class="other_header">
    <div class="ohter_store">
      <img src="./img/Google_Play_logo.png" alt="google_play" srcset="" ; />
      <div class="ohter_store_text">
        <p>GET IN ON</p>
        <h4>Google Play</h4>
      </div>
    </div>
    <div class="ohter_store">
      <img src="./img/apple_store.png" alt="apple_store" srcset="" />
      <div class="ohter_store_text">
        <p>Download on the</p>
        <h4>App Store</h4>
      </div>
    </div>
    <img src="./img/essential_icon.png" alt="burger" id="burger" />
  </div>
</div>
