<section class="main_one">
  <div class="main_one_text">
    <h1>Tailor-made features</h1>
    <p>
      Lorem ipsum is common placeholder text used to demonstrate the graphic
      elements of a document or visual presentation.
    </p>
  </div>
  <div class="main_one_card">
    <div class="main_one_card_row_one">
      <div class="main_one_card_item">
        <img src="./img/icon.svg" alt="icon" />
        <h2>Robust workflow</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
          tristique ipsum.
        </p>
      </div>
      <div class="main_one_card_item">
        <img src="./img/icon_1.png" alt="icon" />
        <h2>Flexibility</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
          tristique ipsum.
        </p>
      </div>
      <div class="main_one_card_item">
        <img src="./img/icon_2.svg" alt="icon" />
        <h2>User friendly</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
          tristique ipsum.
        </p>
      </div>
    </div>
    <div class="main_one_card_row_two">
      <div class="main_one_card_item">
        <img src="./img/icon_4.svg" alt="icon" />
        <h2>Multiple layouts</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
          tristique ipsum.
        </p>
      </div>
      <div class="main_one_card_item">
        <img src="./img/icon_5.svg" alt="icon" />
        <h2>Multiple layouts</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
          tristique ipsum.
        </p>
      </div>
      <div class="main_one_card_item">
        <img src="./img/icon_6.svg" alt="icon" />
        <h2>Well organised</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
          tristique ipsum.
        </p>
      </div>
    </div>
  </div>
</section>
