<section class="main">
  <div class="wrapper_main">
    <div class="wrapper_main_text">
      <h1>The easiest way to manage projects</h1>
      <p>
        From the small stuff to the big picture, organizes the work so teams
        know what to do, why it matters, and how to get it done.
      </p>
      <div class="wrapper_main_text_footer">
        <button>Get Started</button>
        <img src="./img/Play.svg" alt="Play" srcset="" />
        <span>Watch Video</span>
      </div>
      <div class="Line_left">
        <img src="./img/left_band_1.png" alt="Line_left" srcset="" />
      </div>
      <div class="Line_left_two">
        <img src="./img/left_band_2.png" alt="Line_left" srcset="" />
      </div>
    </div>
    <div class="wrapper_main_phone">
      <img src="./img/Phone.png" alt="Phone" srcset="" />
    </div>
  </div>
  <div class="main_footer">
    <img src="./img/airbnb.png" alt="airbnb" />
    <img src="./img/hubspot.png" alt="hubspot" srcset="" />
    <img src="./img/google.png" alt="google" srcset="" />
    <img src="./img/microsoft.png" alt="microsoft" srcset="" />
    <img src="./img/walmart.png" alt="walmart" srcset="" />
    <img src="./img/fedex.png" alt="fedex" />
  </div>
</section>
