<section class="manage_all">
  <div class="manage_all_item_one">
    <h1>Manage all projects from your mobile</h1>
    <p>
      Download the app to manage your projects, keep track of the progress and
      complete tasks without procastinating. Stay on track and complete on time!
    </p>
    <h2>Get the App</h2>
    <div class="other_header">
      <div class="ohter_store">
        <img src="./img/Google_Play_logo.png" alt="google_play" srcset="" ; />
        <div class="ohter_store_text">
          <p>GET IN ON</p>
          <h4>Google Play</h4>
        </div>
      </div>
      <div class="ohter_store">
        <img src="./img/apple_store.png" alt="apple_store" srcset="" />
        <div class="ohter_store_text">
          <p>Download on the</p>
          <h4>App Store</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="manage_all_item_two">
    <div class="manage_all_item_two_img">
      <img src="./img/phone_mockup_1.png" alt="phone_mockup_1" />
    </div>
    <div class="manage_all_item_two_img_two">
      <img src="./img/phone_mockup_2.png" alt="phone_mockup_2" />
    </div>
  </div>
</section>
