<section class="our_18_years">
  <div class="our_18_years_wrapper">
    <div class="our_18_years_item">
      <h1>Our 18 years of achievements</h1>
      <p>With our super powers we have reached this</p>
    </div>
    <div class="our_18_years_card_start">
      <div class="our_18_years_item_one">
        <div class="our_18_years_card">
          <img src="./img/icon.svg" alt="icon" />
          <div class="our_18_years_card_text">
            <h1>10,000+</h1>
            <p>Downloads per day</p>
          </div>
        </div>
        <div class="our_18_years_card">
          <img src="./img/icon_3.svg" alt="icon" />
          <div class="our_18_years_card_text">
            <h1>2 Million+</h1>
            <p>Users</p>
          </div>
        </div>
      </div>
      <div class="our_18_years_item_two">
        <div class="our_18_years_card">
          <img src="./img/icon_5.svg" alt="icon" />
          <div class="our_18_years_card_text">
            <h1>500+</h1>
            <p>Clients</p>
          </div>
        </div>
        <div class="our_18_years_card_two">
          <img src="./img/icon_7.svg" alt="icon" />
          <div class="our_18_years_card_text">
            <h1>140</h1>
            <p>Countries</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
