<section class="real_stories">
  <div class="real_stories_wrapper">
    <img src="./img/“.png" alt="#" />
    <h1>Real Stories from Real</h1>
    <div class="real_stories_item">
      <div class="real_stories_item_one">
        <h1>Customers</h1>
        <p>Get inspired by these stories.</p>
        <div class="real_stories_item_one_card">
          <img src="./img/hubspot.png" alt="hubspot" />
          <p>
            <img src="./img/“.png" alt="#" id="image_card" />
            To quickly start my startup landing page design, I was looking for a
            landing page UI Kit. Landify is one of the best landing page UI kit
            I have come across. It’s so flexible, well organised and easily
            editable.
          </p>
          <h2>Floyd Miles</h2>
          <p id="p_footer">Vice President, GoPro</p>
        </div>
      </div>
      <div class="real_stories_item_two">
        <div class="real_stories_item_two_card">
          <img src="./img/airbnb.png" alt="airbnb" />
          <p>
            <img src="./img/“.png" alt="#" id="image_card" />
            I used landify and created a landing page for my startup within a
            week. The Landify UI Kit is simple and highly intuitive, so anyone
            can use it.
          </p>
          <h2>Jane Cooper</h2>
          <p id="p_footer">CEO, Airbnb</p>
        </div>
        <div class="real_stories_item_three_card">
          <img src="./img/strapi.png" alt="strapi" />
          <p>
            <img src="./img/“.png" alt="#" id="image_card" />
            Landify saved our time in designing my company page.
          </p>
          <h2>Kristin Watson</h2>
          <p id="p_footer">Co-Founder, Strapi</p>
        </div>
      </div>
    </div>
  </div>
</section>
